name: deploy
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get the repository code
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm ci
      - name: Tests app
        run: npm run test
      - name: Lint app
        run: npm run lint
      - name: Build app
        run: npm run build
      - name: Deploy app
        run: echo deployment...